#center{
	width: 980px;
	height: auto;
	overflow: hidden;
	margin: 60px auto;
}
#center .send{
	width: 600px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px 0;
}
#center .send .title{
	width: 600px;
	height: 34px;
	line-height: 34px;
}
#center .send .title .left {
	text-align: left;
	width: 300px;
	height: 34px;
	line-height: 34px;
	font-family: 'Microsoft YaHei';
    font-size: 22px;
    font-weight: 400;
	float: left;
}
#center .send .title .right{
	text-align: right;
	width: 300px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #333333;
	float: right;
}
#center .send .title .right span{
	color: #3EAF0E;
    font-size: 20px;
}
#center .send .cons{
	width: 588px;
	height: 80px;
	border: 1px solid #ACACAC;
	border-bottom: none;
	-moz-border-colors: none;
    box-shadow: 1px 1px 3px #CCCCCC inset;
    padding: 5px;
}
#center .send .cons textarea{
	width: 100%;
	height: 80px;
	border: none;
	resize:none;
	font-size: 14px;
}
#center .send .reward {
	width: 598px;
	height: 30px;
	border: 1px solid #ACACAC;
	border-top: none;
	background: url(../Images/send-reward.png) repeat-x;
}
#center .send .reward ul {
	width: 260px;
	height: 30px;
	float: right;
}
#center .send .reward ul li {
	float: left;
	width: 130px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #888888;
}
#center .send .reward ul li span {
	color: #FF6701;
}
#center .send .reward .cate-btn {
	display: block;
	float: left;
	width: 80px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin : 3px 0 0 5px;
	cursor: pointer;
	color: #2D63C8;
}
#center .send .send-btn {
	width: 100px;
	height: 34px;
	line-height: 34px;
	float: right;
	border: 1px solid #4BBE11;
	border-radius: 4px;
	cursor: pointer;
	background: #4CC111;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin-top: 10px;
}

#category {
	width: 480px;
	height: 430px;
	position: absolute;
	z-index: 999;
	display: none;
	background: #fff;
}
#category .title {
	width: 480px;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #E0E0E0;
	background: #FAFAFA;
}
#category .title span {
	display: block;
	width: 120px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	float: left;
}
#category .title .close-window {
	display: block;
	background: url(../Images/close.png) no-repeat 0 0;
    cursor: pointer;
    height: 25px;
    float: right;
    width: 25px;
    margin-top: 3px;
    margin-right: 10px;
}
#category .title .close-window:hover{
	background-position: -25px 0;
}
#category .sel {
	width: 480px;
	height: 350px;
}
#category .sel p {
	clear: both;
	width: 480px;
	height: 60px;
	line-height: 60px;
	text-align: left;
	text-indent: 10px;
}
#category .sel select {
	width: 150px;
	height: 260px;
	float: left;
	margin-left: 10px;
}
#category .sel select option {
	font-size: 14px;
	padding: 2px;
}
#category .bottom{
	width: 480px;
	height: 50px;
	background:#F8F8F8;
}
#category .bottom span {
	display: block;
	float: right;
	width: 70px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #3EAF0E;
	background: #4CC311;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
}