* {
	margin: 0;
	padding:0;
}
body {
	background:#FFF;
	color:#333;
	font:12px/1.5 arial,helvetica,sans-serif;
	text-align:center;
	-webkit-text-size-adjust:none
}
img {
	border: 0;
}
ol,ul {
	list-style: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	font-size:inherit;
	font:100%
}
input,button,textarea,select,option {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit
}
input,button,textarea,select {
	*font-size:100%;
	line-height:1.2;
	margin:0
}
a img,img {
	-ms-interpolation-mode:bicubic
}
a {
	color:#0063c8;
	text-decoration:none
}
a:hover,a:active,a:focus {
	color:#0063c8;
	text-decoration:underline
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
.hidden {
	display: none;
}
.main{
    width: 980px;
    height: auto;
    margin: 10px auto;
}
.level {
    display: inline-block;
    width: 17px;
    height: 11px;
    background: url(../Images/lv.png) no-repeat;
    margin-left: 10px;
}
.lv1 {
    background-position : 0 -13px;
}
.lv2 {
    background-position : 0 -25px;
}
.lv3 {
    background-position : 0 -37px;
}
.lv4 {
    background-position : 0 -49px;
}
.lv5 {
    background-position : 0 -61px;
}
.lv6 {
    background-position : 0 -73px;
}
.lv7 {
    background-position : 0 -85px;
}
.lv8 {
    background-position : 0 -97px;
}
.lv9 {
    background-position : 0 -109px;
}
.lv10 {
    background-position : 0 -121px;
}
.lv11 {
    background-position : 0 -133px;
}
.lv12 {
    background-position : 0 -145px;
}
.lv13 {
    background-position : 0 -157px;
}
.lv14 {
    background-position : 0 -169px;
}
.lv15 {
    background-position : 0 -181px;
}
.lv16 {
    background-position : 0 -193px;
}
.lv17 {
    background-position : 0 -205px;
}
.lv18 {
    background-position : 0 -217px;
}
.lv19 {
    background-position : 0 -229px;
}
.lv20 {
    background-position : 0 -241px;
}
.point{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background: url(../Images/back.png) no-repeat -540px -48px;
    text-indent: 12px;
    font-weight: normal;
}
.rank{
    display: inline-block;
    width: 11px;
    height: 9px;
    background : url(../Images/back.png) no-repeat;
    margin-right: 5px;
}
.r1 {
    background-position: -969px -78px;
}
.r2 {
    background-position: -969px -100px;
}
.r3 {
    background-position: -969px -122px;
}
.r4 {
    background-position: -969px -144px;
}
.r5 {
    background-position: -969px -166px;
}
.r6 {
    background-position: -969px -188px;
}
.r7 {
    background-position: -969px -210px;
}
.r8 {
    background-position: -969px -232px;
}
.r9 {
    background-position: -969px -254px;
}
.r10 {
    background-position: -969px -276px;
}
.error{
    color: #f00f00;
}


/********************头部********************/
#top-fixed{
	width: 100%;
	height: auto;
	overflow: hidden;
    background: #fff;
    position: fixed;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop));
    left:0;
    z-index: 997;
}
.fixed{
	border-bottom: 1px solid #ECECEC;
	box-shadow: 0px 0px 2px #ECECEC;
}
#top-bar{
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #e0e0e0;
}
#top-bar ul {
	margin: 0 20px;
}
#top-bar .top-bar-left li{
	float: left;
	margin-right: 18px;
}
#top-bar .top-bar-left li a {
	font-size: 14px;
	color: #333333;
    display: inline-block;
    height: 33px;
    line-height: 33px;
    vertical-align: top;
}
#top-bar .top-bar-left li a:hover{
	text-decoration: none;
	border-bottom: 2px solid #3EAF0E;
    color: #3EAF0E;
}
#top-bar .top-bar-right li{
	float: left;
	height: 35px;
	line-height: 35px;
	padding: 0 5px;
	color: #888888;
}
#top-bar .top-bar-right li a{
	color: #888888;
}
#top-bar .top-bar-right li a:hover {
	color: #4BAF0E;
	text-decoration: none;
}
#top-bar .top-bar-right li .uname {
	font: 12px/1.5 arial,helvetica,sans-serif;
}

/*****搜索框*****/
#search {
	width: 980px;
	height: 41px;
	margin: 15px auto;
}
#search .logo {
	background: url(../Images/back.png) no-repeat -575px -153px;
    float: left;
    width: 218px;
    height: 41px;
}
#search .sech-cons {
	border: 4px solid #3EAF0E;
    height: 25px;
    margin-right: 5px;
    width: 414px;
    font-size: 14px;
    font-weight: 700;
    padding: 4px;
    float: left;
}
#search .sech-btn {
	background: url(../Images/back.png) no-repeat 0 -127px;
    border: none;
    cursor: pointer;
    display: block;
    height: 41px;
    margin-right: 5px;
    padding: 0;
    text-indent: -999em;
    width: 90px;
    float: left;
}
#search .sech-btn-cur {
	background-position: -90px -127px;
}
#search .ask-btn {
	background: url(../Images/back.png) no-repeat 0 -178px;
    display: block;
    height: 41px;
    width: 74px;
    float: left;
}
#search .ask-btn-cur {
	background-position: -74px -178px;
}

/*****导航条*****/
#nav {
	width: 980px;
	height: 40px;
	background:url(../Images/back.png) no-repeat 0 -550px #40B50E;
	margin: 0 auto;
}
#nav .list .nav-sel {
	float: left;
    margin-right: -2px;
    height: 40px;
    line-height: 40px;
}
#nav .list li a {
	background: url(../Images/back.png) no-repeat 100% -37px;
    color: #FFFFFF;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 94px;
    font-size: 14px;
    font-family: "microsoft yahei";
}
#nav .list li .home {
	background-position: -842px -78px;
}
#nav .list .ask-cate {
    position: relative;
    z-index: 10;
}
#nav .list .ask-cate span {
    display: inline-block;
    cursor: pointer;
}
#nav .list .ask-cate i {
	background: url(../Images/back.png) no-repeat -140px -57px;
    display: inline-block;
    height: 4px;
    margin-left: 4px;
    vertical-align: 2px;
    _vertical-align: -6px;
    width: 14px;
    cursor: pointer;
}
#nav .list .ask-cate .ask-list:hover {
	background: url(../Images/list-btn.png) no-repeat 0 -49px;
}
#nav .list .ask-cate ul {
	width: 376px;
	height: auto;
	overflow: hidden;
	border:1px solid #3EAF0E;
	border-top: none;
    position: absolute;
    z-index : 10;
    background: #fff;
}
#nav .list .ask-cate ul li {
	border-right: 1px solid #EFEFEF;
    float: left;
    padding: 10px 0px;
}
#nav .list .ask-cate ul li a {
	background: none;
	color: #333333;
    display: block;
    height: 18px;
	text-align: center;
    width: 92px;
    font: 12px/1.5 arial,helvetica,sans-serif;
    padding: 2px 0px 2px 1px;
}
#nav .list .ask-cate ul li a:hover{
	background: #3EAF0E;
	color: #ffffff;
}
#nav .total {
	color: #FFFFFF;
    float: right;
    padding-right: 18px;
    height: 40px;
    line-height: 40px;
}

/*****注册框*****/
#register {
	width: 530px;
	height: auto;
	overflow: hidden;
	position: absolute;
    z-index: 999;
    background: #fff;
}
#register .reg-title {
	background: url(../Images/reg-bg.png) repeat-x;
    height: 45px;
}
#register .reg-title p {
	color: #666666;
    float: left;
    font-family: 'Microsoft YaHei';
    font-size: 19px;
    line-height: 45px;
    padding-left: 27px;
}
#register .reg-title a {
	display: inline-block;
    float: right;
    height: 26px;
    margin: 10px 10px 0 0;
    width: 33px;
    background: url(../Images/btn.png) no-repeat -878px -209px;
}
#register .reg-title a:hover {
	background-position: -878px -239px;
}
#reg-wrap{
	width: 530px;
	height: auto;
	overflow: hidden;
}
#reg-wrap .reg-left {
	background: url(../Images/reg-left.png) repeat-y;
    color: #666666;
    float: left;
    font-family: "微软雅黑";
    font-size: 16px;
    padding-top: 20px;
    width: 157px;
    float: left;
}
#reg-wrap .reg-left ul li {
	background: url(../Images/btn.png) no-repeat -2px -280px;
    height: 52px;
    line-height: 52px;
    width: 157px;
}
#reg-wrap .reg-left ul li span {
	color: #fff;
	cursor: pointer;
    background: url(../Images/btn.png) no-repeat  -877px -38px;
    display: inline-block;
    height: 23px;
    line-height: 26px;
    padding-left: 30px;
}
#reg-wrap .reg-left .reg-l-bottom {
	text-align: center;
	font-family: "宋体";
    font-size: 14px;
    margin: 275px 0 30px 0;
}
#reg-wrap .reg-left .reg-l-bottom a {
	text-decoration: none;
	color: #0082CB;
	padding-right: 5px;
}

#register .reg-right{
	width: 370px;
	height: auto;
	overflow: hidden;
	float: right;
	padding-top: 16px;
}
#register .reg-right ul li {
	color: #999999;
    font-family: arial,宋体,sans-serif;
	height: 62px;
	margin-right: 20px;
}
#register .reg-right ul li label {
	color: #000000;
    display: inline-block;
    font-size: 14px;
    height: 41px;
    line-height: 41px;
    padding-right: 10px;
    text-align: right;
    width: 60px;
}
#register .reg-right ul li input {
	height: 38px;
    line-height: 38px;
    padding-left: 5px;
    width: 265px;
    border: none;
    background: url(../Images/btn.png) no-repeat -2px -159px;
}
#register .reg-right ul li span {
	display: block;
	text-align: left;
	margin-left: 80px;
    word-break: break-all;
    word-wrap: break-word;
}
#register .reg-right ul li #reg-verify {
    height: 43px;
    line-height: 43px;
    width: 120px;
    background: url(../Images/btn.png) no-repeat -665px 0;
}
#register .reg-right ul li #verify-img {
	float: right;
	margin :4px 20px 0 25px;
	cursor: pointer;
    _float:none;
}
#register .reg-right ul .submit {
	height:62px;
}
#register .reg-right ul .submit input {
	border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "微软雅黑";
    font-size: 16px;
    height: 38px;
    margin: 10px 0 0 69px;
    outline: medium none;
    width: 269px;
    background: url(../Images/btn.png) no-repeat -268px -2px;
}
#register .reg-right ul .submit .reg-btn-cur {
	background-position: -268px -63px;
}

/*****登录框*****/
#login {
	width: 460px;
	height: auto;
	overflow:hidden;
    position:absolute;
    z-index: 999;
    background: #fff;
}
#login-msg {
    display: block;
    width: 460px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #f00;
}
#login .login-title {
	width: 460px;
    height: 56px
}
#login .login-title p {
	width: 160px;
	height: 38px;
    padding-top: 18px;
    margin-left: 70px;
	float: left;
	color: #666666;
    font: 16px/1.5 'microsoft yahei';
}
#login .login-title a {
	background: url(../Images/login.png) no-repeat -219px -130px;
    display: block;
    float: right;
    height: 24px;
    width: 29px;
    margin: 15px 10px 0 0;
}
#login .login-title a:hover {
	background-position: -262px -130px;
}
#login .login-form li {
	margin: 10px 0;
}
#login .login-form li label{
	color: #000000;
    font-size: 14px;
    height: 41px;
    line-height: 41px;
    padding-right: 10px;
    text-align: right;
    width: 60px;
    font-family: arial,宋体,sans-serif;
}
#login .login-form li .input {
	height: 38px;
    line-height: 38px;
    padding-left: 5px;
    width: 265px;
    border: none;
    background: url(../Images/btn.png) no-repeat scroll -2px -159px;
    font: 14px/20px arial,simsun;
}
#login .login-form .login-auto {
	text-align: left;
}
#login .login-form .login-auto label {
	font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    vertical-align: middle;
    width: 123px;
    color: #000000;
    margin-left: 115px;
    _float:left;
}
#regis-now {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
    margin-right: 80px;
    margin-top: 2px;
    float: right;
    _display : block;
    _margin-left:70px;
}
#login-btn {
	border: 0 none;
    cursor: pointer;
    height: 39px;
    margin-left: 35px;
    width: 266px;
    background: url(../Images/btn.png) no-repeat 0 -2px;
    margin-bottom: 20px;
}
#login .login-form li .login-btn-cur {
	background-position: 0 -63px;
}

/**背景遮罩**/
#background {
    width : 100%;
    position : absolute;
    top : 0;
    left : 0;
    z-index : 998;
    background-color : #000000;
}
#location{
    width: 980px;
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: left;
}
/**********右侧**********/
#right {
    width: 220px;
    height: auto;
    overflow: hidden;
    float: left;
    margin-left: 10px;
}
#right .r-login {
    width: 188px;
    height: 34px;
    border: 1px solid #EDEDED;
    background: #FAFAFA;
    padding:15px;
}
#right .r-login span {
    display: block;
    background: url(../Images/back.png) no-repeat 0 -78px;
    color: #333333;
    float: left;
    height: 36px;
    line-height: 36px;
    width: 85px;
    margin-right: 9px;
    cursor: pointer;
}
#right .r-login span i {
    display: inline-block;
    width: 15px;
    height: 13px;
    background: url(../Images/lock.png) no-repeat;
}
#right .r-login .login i {
    background-position : 0 -11px;
}
#right .r-login .register i {
    background-position : 0 -47px;
}
#right .userinfo {
    width: 198px;
    height: auto;
    overflow: hidden;
    float: left;
    padding: 10px;
    border: 1px solid #f2e5aa;
    background: #fffef1;
}
#right .userinfo dl {
    width: 198px;
    height: auto;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px dotted #F2E5AA;
    text-align: left;
}
#right .userinfo dl dt {
    float: left;
    width: 48px;
    height: 58px;
    margin-right: 20px;
    padding: 5px 0;
}
#right .userinfo dl dd {
    width: 128px;
    height: 20px;
    line-height: 20px;
    float: left;
    font: 12px/1.5 arial,helvetica,sans-serif;
    color: #888888;
}
#right .userinfo dl .username a{
    color: #333333;
    font-weight: 700;
    text-decoration: none;
}
#right .userinfo table {
    width: 198px;
    height: 28px;
    margin: 5px 0;
}
#right .userinfo table td {
    text-align: center;
    color: #888888;
    border-right: 1px dotted #F2E5AA;
}
#right .userinfo table tr .last {
    border: none;
}
#right .userinfo table td a {
    color:#FF6600;
}
#right .userinfo ul {
    width: 194px;
    height: 26px;
    background: url(../Images/back.png) no-repeat -310px -153px;
    margin: 14px 0 10px 0;
}
#right .userinfo ul li {
    float: left;
    width: 97px;
    height: 26px;
    line-height: 26px;
    text-indent: 2em;
}
#right .userinfo ul li a {
    display: block;
    width: 97px;
    height: 26px;
    line-height: 26px;
    color: #666666;
    text-decoration: none;
}

#right .star {
    width: 218px;
    height: auto;
    overflow: hidden;
    border: 1px solid #d5d5d5;
    margin-top: 10px;
    text-align: left;
}
#right .star .title {
    color: #666666;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    font-weight: 400;
    height: 33px;
    line-height: 33px;
    border-bottom: 1px solid #d5d5d5;
    text-align: left;
    text-indent: 1em;
}
#right .star .star-name{
    display: block;
    width: 218px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #3EAF0E;
    border-bottom: 1px dotted #ccc;
}
#right .star .star-info {
    width: 198px;
    height: auto;
    overflow: hidden;
    padding: 10px;
}
#right .star .star-info div {
    width: 198px;
    height: 48px;
}
#right .star .star-info div .star-face {
    width: 48px;
    height: 48px;
    float: left;
}
#right .star .star-info div ul {
    width: 130px;
    height: 48px;
    float: left;
    margin-left: 20px;
}
#right .star .star-info div ul li {
    width: 130px;
    height: 24px;
    line-height: 24px;
}
#right .star .star-info div ul li a{
    color: #333333;
    font-weight: 700;
    text-decoration: none;
}
#right .star .star-info div ul li i {
    margin: 0;
}
#right .star .star-count {
    width: 198px;
    height: auto;
    overflow: hidden;
    margin: 5px 0;
}
#right .star .star-count li {
    width: 198px;
    height: 24px;
    line-height: 24px;
    color: #888888;
}
#right .star .star-count li span {
    color: #ff6600;
}

#right .star-list {
    width: 218px;
    height: auto;
    overflow: hidden;
    border: 1px solid #d5d5d5;
    margin-top: 10px;
    text-align: left;
}
#right .star-list .title {
    color: #666666;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    font-weight: 400;
    height: 33px;
    line-height: 33px;
    border-bottom: 1px solid #d5d5d5;
    text-align: left;
    text-indent: 1em;
}
#right .star-list div {
    width: 198px;
    height: auto;
    overflow: hidden;
    padding: 10px;
}
#right .star-list .ul-title {
    width: 198px;
    height: 24px;
}
#right .star-list .ul-title li {
    width: 99px;
    height: 24px;
    line-height: 24px;
    float: left;
    text-align: left;
}
#right .star-list .ul-list li {
    width: 198px;
    height: 24px;
    line-height: 24px;
}
#right .star-list .ul-list a{
    float: left;
    color: #333333;
}
#right .star-list .ul-list span {
    float: right;
    color: #888888;
}

/********************底部********************/
#bottom{
    width: 100%;
    height: 40px;
    background: #f8f8f8;
    color: #888888;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0;
}